{
  "openapi": "3.0.1",
  "info": { "title": "OpenAPI definition", "version": "v0" },
  "servers": [{ "url": "https://api-v2.upstox.com" }],
  "tags": [
    { "name": "Login" },
    { "name": "User" },
    { "name": "Portfolio" },
    { "name": "Order" },
    { "name": "Market Quote" },
    { "name": "Market Holidays and Timings" },
    { "name": "Options" },
    { "name": "Trade Profit And Loss" },
    { "name": "History" },
    { "name": "Charge" },
    { "name": "Websocket" },
    { "name": "Post Trade" }
  ],
  "paths": {
    "/v2/portfolio/convert-position": {
      "put": {
        "tags": ["Portfolio"],
        "summary": "Convert Positions",
        "description": "Convert the margin product of an open position",
        "operationId": "convertPositions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertPositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertPositionResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'PUT' \n 'https://api.upstox.com/v2/portfolio/convert-position' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Content-Type: application/json' \n -H 'Authorization: Bearer access_token' \n -d '{\n \"instrument_token\": \"151064324\",\n \"new_product\": \"D\",\n \"old_product\": \"I\",\n \"transaction_type\": \"BUY\",\n \"quantity\": 1\n}'"
          }
        ]
      }
    },
    "/v2/order/modify": {
      "put": {
        "tags": ["Order"],
        "summary": "Modify order",
        "description": "This API allows you to modify an order. For modification orderId is mandatory. With orderId you need to send the optional parameter which needs to be modified. In case the optional parameters aren't sent, the default will be considered from the original order",
        "operationId": "modifyOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ModifyOrderRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI100010 - Unknown order id | order request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ModifyOrderResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'PUT' \n 'https://api.upstox.com/v2/order/modify' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Content-Type: application/json' \n -H 'Authorization: Bearer access_token' \n -d '{\n \"quantity\": 1,\n \"validity\": \"DAY\",\n \"price\": 120.01,\n \"order_id\": \"1644490272000\",\n \"order_type\": \"MARKET\",\n \"disclosed_quantity\": 0,\n \"trigger_price\": 0\n}'"
          }
        ]
      }
    },
    "/v2/order/place": {
      "post": {
        "tags": ["Order"],
        "summary": "Place order",
        "description": "This API allows you to place an order to the exchange via Upstox.",
        "operationId": "placeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PlaceOrderRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlaceOrderResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'POST' \n 'https://api.upstox.com/v2/order/place' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Content-Type: application/json' \n -H 'Authorization: Bearer access_token' \n -d '{\n \"quantity\": 1,\n \"product\": \"D\",\n \"validity\": \"DAY\",\n \"price\": 0,\n \"tag\": \"string\",\n \"instrument_token\": \"NSE_EQ|INE848E01016\",\n \"order_type\": \"MARKET\",\n \"transaction_type\": \"BUY\",\n \"disclosed_quantity\": 0,\n \"trigger_price\": 0,\n \"is_amo\": false\n}'"
          }
        ]
      }
    },
    "/v2/login/authorization/token": {
      "post": {
        "tags": ["Login"],
        "summary": "Get token API",
        "description": "This API provides the functionality to obtain opaque token from authorization_code exchange and also provides the user’s profile in the same response.",
        "operationId": "token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/TokenRequest" }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1017 - API Key is required <br/>UDAPI1018 - Redirect URI is required <br/>UDAPI1022 - Code is required <br/>UDAPI1023 - Grant type is required <br/>UDAPI1024 - App Secret is required <br/>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TokenResponse" }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'POST' \n 'https://api.upstox.com/v2/login/authorization/token' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Content-Type: application/x-www-form-urlencoded' \n -d 'code=code&client_id=apikey&client_secret=apisecret&redirect_uri=https%3A%2F%2Fdomain.com%2Fredirect&grant_type=authorization_code'"
          }
        ]
      }
    },
    "/v2/user/profile": {
      "get": {
        "tags": ["User"],
        "summary": "Get profile",
        "description": "This API allows to fetch the complete information of the user who is logged in including the products, order types and exchanges enabled for the user",
        "operationId": "getProfile",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetProfileResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/user/profile' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/user/get-funds-and-margin": {
      "get": {
        "tags": ["User"],
        "summary": "Get User Fund And Margin",
        "description": "Shows the balance of the user in equity and commodity market.",
        "operationId": "getUserFundMargin",
        "parameters": [
          {
            "name": "segment",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["SEC", "COM"] }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1019 - segment is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserFundMarginResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/user/get-funds-and-margin?segment=SEC' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/trade/profit-loss/metadata": {
      "get": {
        "tags": ["Trade Profit And Loss"],
        "summary": "Get profit and loss meta data on trades",
        "description": "This API gives the data of the realised Profit and Loss report requested by a user",
        "operationId": "getTradeWiseProfitAndLossMetaData",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "01-04-2022"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "31-03-2023"
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment for which data is requested can be from the following options EQ - Equity, FO - Futures and Options, COM - Commodity, CD - Currency Derivatives",
            "required": true,
            "schema": { "type": "string" },
            "example": "EQ"
          },
          {
            "name": "financial_year",
            "in": "query",
            "description": "Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122",
            "required": true,
            "schema": { "pattern": "^(0|[1-9][0-9]*)$", "type": "string" },
            "example": 2223
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1070 - The financial_year is required<br>UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1073 - Financial year should have max length of 4<br>UDAPI1068 - The start_date is required<br>UDAPI1069 - The end_date is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeWiseProfitAndLossMetaDataResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/trade/profit-loss/metadata?start_date=01-04-2022&emd_date=30-03-2023&segment=EQ&financial_year=2223' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/trade/profit-loss/data": {
      "get": {
        "tags": ["Trade Profit And Loss"],
        "summary": "Get Trade-wise Profit and Loss Report Data",
        "description": "This API gives the data of the realised Profit and Loss report requested by a user",
        "operationId": "getTradeWiseProfitAndLossData",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "01-04-2022"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "31-03-2023"
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment for which data is requested can be from the following options EQ - Equity, FO - Futures and Options, COM - Commodity, CD - Currency Derivatives",
            "required": true,
            "schema": { "type": "string" },
            "example": "EQ"
          },
          {
            "name": "financial_year",
            "in": "query",
            "description": "Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122",
            "required": true,
            "schema": { "pattern": "^(0|[1-9][0-9]*)$", "type": "string" },
            "example": 2223
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Page Number, the pages are starting from 1",
            "required": true,
            "schema": { "type": "integer", "format": "int32" },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Page size for pagination. The maximum page size value is obtained from P and L report metadata API.",
            "required": true,
            "schema": { "type": "integer", "format": "int32" },
            "example": 3000
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1070 - The financial_year is required<br>UDAPI1071 - The page_number is required<br>UDAPI1072 - The page_size is required<br>UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1073 - Financial year should have max length of 4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeWiseProfitAndLossDataResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/trade/profit-loss/data?segment=EQ&financial_year=2223&page_number=1&page_size=3000' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/trade/profit-loss/charges": {
      "get": {
        "tags": ["Trade Profit And Loss"],
        "summary": "Get profit and loss on trades",
        "description": "This API gives the charges incurred by users for their trades",
        "operationId": "getProfitAndLossCharges",
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "01-04-2022"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format",
            "required": false,
            "schema": { "type": "string" },
            "example": "31-03-2023"
          },
          {
            "name": "segment",
            "in": "query",
            "description": "Segment for which data is requested can be from the following options EQ - Equity, FO - Futures and Options, COM - Commodity, CD - Currency Derivatives",
            "required": true,
            "schema": { "type": "string" },
            "example": "EQ"
          },
          {
            "name": "financial_year",
            "in": "query",
            "description": "Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122",
            "required": true,
            "schema": { "pattern": "^(0|[1-9][0-9]*)$", "type": "string" },
            "example": 2223
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1068 - The start_date is required<br>UDAPI1069 - The end_date is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfitAndLossChargesResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/trade/profit-loss/charges?start_date=01-04-2022&end_date=30-03-2023&segment=EQ' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/portfolio/short-term-positions": {
      "get": {
        "tags": ["Portfolio"],
        "summary": "Get Positions",
        "description": "Fetches the current positions for the user for the current day.",
        "operationId": "getPositions",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetPositionResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/portfolio/short-term-positions' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/portfolio/long-term-holdings": {
      "get": {
        "tags": ["Portfolio"],
        "summary": "Get Holdings",
        "description": "Fetches the holdings which the user has bought/sold in previous trading sessions.",
        "operationId": "getHoldings",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization Failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetHoldingsResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/portfolio/long-term-holdings' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/order/trades": {
      "get": {
        "tags": ["Order"],
        "summary": "Get trades for order",
        "description": "Retrieve the trades executed for an order",
        "operationId": "getTradesByOrder",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "description": "The order ID for which the order to get order trades",
            "required": true,
            "schema": { "pattern": "^[-a-zA-Z0-9]+", "type": "string" },
            "example": 12345667890
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1010 - Order id accepts only alphanumeric characters and '-'.<br>UDAPI1023 - Order id is required<br>UDAPI100010 - Unknown order id | order request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetTradeResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/order/trades?order_id=order_id' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/order/trades/get-trades-for-day": {
      "get": {
        "tags": ["Order"],
        "summary": "Get trades",
        "description": "Retrieve the trades executed for the day",
        "operationId": "getTradeHistory",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetTradeResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/order/trades/get-trades-for-day' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/order/retrieve-all": {
      "get": {
        "tags": ["Order"],
        "summary": "Get order book",
        "description": "This API provides the list of orders placed by the user. The orders placed by the user is transient for a day and is cleared by the end of the trading session. This API returns all states of the orders, namely, open, pending, and filled ones.",
        "operationId": "getOrderBook",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderBookResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/order/retrieve-all' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/order/history": {
      "get": {
        "tags": ["Order"],
        "summary": "Get order history",
        "description": "This API provides the details of the particular order the user has placed. The orders placed by the user is transient for a day and are cleared by the end of the trading session. This API returns all states of the orders, namely, open, pending, and filled ones.\n\nThe order history can be requested either using order_id or tag.\n\nIf both the options are passed, the history of the order which precisely matches both the order_id and tag will be returned in the response.\n\nIf only the tag is passed, the history of all the associated orders which matches the tag will be shared in the response.",
        "operationId": "getOrderDetails",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "description": "The order reference ID for which the order history is required",
            "required": false,
            "schema": { "pattern": "^[-a-zA-Z0-9]+", "type": "string" },
            "example": 12345667890
          },
          {
            "name": "tag",
            "in": "query",
            "description": "The unique tag of the order for which the order history is being requested",
            "required": false,
            "schema": { "type": "string" },
            "example": "2qdqjppebx"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1010 - Order id accepts only alphanumeric characters and '-'<br>UDAPI1023 - Order id is required<br>UDAPI100010 - Unknown order id | order request rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetOrderResponse" }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/order/history?order_id=order_id' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/option/contract": {
      "get": {
        "tags": ["Options"],
        "summary": "Get option contracts",
        "description": "This API provides the functionality to retrieve the option contracts",
        "operationId": "getOptionContracts",
        "parameters": [
          {
            "name": "instrument_key",
            "in": "query",
            "description": "Instrument key for an underlying symbol",
            "required": true,
            "schema": { "type": "string" },
            "example": "NSE_INDEX|Nifty 50"
          },
          {
            "name": "expiry_date",
            "in": "query",
            "description": "Expiry date in format: YYYY-mm-dd",
            "required": false,
            "schema": { "type": "string" },
            "example": "2024-02-01"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOptionContractResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/option/contract?instrument_key=NSE_EQ%7CINE848E01039' \n -H 'accept: application/json' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/option/chain": {
      "get": {
        "tags": ["Options"],
        "summary": "Get option chain",
        "description": "This API provides the functionality to retrieve the option chain",
        "operationId": "getPutCallOptionChain",
        "parameters": [
          {
            "name": "instrument_key",
            "in": "query",
            "description": "Instrument key for an underlying symbol",
            "required": true,
            "schema": { "type": "string" },
            "example": "NSE_INDEX|Nifty 50"
          },
          {
            "name": "expiry_date",
            "in": "query",
            "description": "Expiry date in format: YYYY-mm-dd",
            "required": true,
            "schema": { "type": "string" },
            "example": "2024-02-01"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOptionChainResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/option/contract?instrument_key=NSE_EQ%7CINE848E01039&expiry_date=2024-01-01' \n -H 'accept: application/json' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/market/timings/{date}": {
      "get": {
        "tags": ["Market Holidays and Timings"],
        "summary": "Get Exchange Timings on particular date",
        "description": "This API provides the functionality to retrieve the exchange timings on particular date",
        "operationId": "getExchangeTimings",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExchangeTimingResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/markets/timings/2024-01-01' \n -H 'accept: application/json'"
          }
        ]
      }
    },
    "/v2/market/status/{exchange}": {
      "get": {
        "tags": ["Market Holidays and Timings"],
        "summary": "Get Market status for particular exchange",
        "description": "This API provides the functionality to retrieve the market status for particular exchange",
        "operationId": "getMarketStatus",
        "parameters": [
          {
            "name": "exchange",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(\\s*|(?:NSE|NFO|CDS|BSE|BFO|BCD|MCX|NSCOM)+)$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketStatusResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/markets/status/NFO' \n -H 'accept: application/json' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/market/holidays": {
      "get": {
        "tags": ["Market Holidays and Timings"],
        "summary": "Get Holiday list of current year",
        "description": "This API provides the functionality to retrieve the holiday list of current year",
        "operationId": "getHolidays",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetHolidayResponse" }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/markets/holidays' \n -H 'accept: application/json' "
          }
        ]
      }
    },
    "/v2/market/holidays/{date}": {
      "get": {
        "tags": ["Market Holidays and Timings"],
        "summary": "Get Holiday on particular date",
        "description": "This API provides the functionality to retrieve the holiday on particular date",
        "operationId": "getHoliday",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GetHolidayResponse" }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/markets/holidays/2024-01-01' \n -H 'accept: application/json' "
          }
        ]
      }
    },
    "/v2/market-quote/quotes": {
      "get": {
        "tags": ["Market Quote"],
        "summary": "Market quotes and instruments - Full market quotes",
        "description": "This API provides the functionality to retrieve the full market quotes for one or more instruments.This API returns the complete market data snapshot of up to 500 instruments in one go.",
        "operationId": "getFullMarketQuote",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Comma separated list of symbols",
            "required": false,
            "deprecated": true,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          },
          {
            "name": "instrument_key",
            "in": "query",
            "description": "Comma separated list of instrument keys",
            "required": false,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFullMarketQuoteResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/market-quote/quotes?symbol=NSE_EQ%7CINE848E01039' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/market-quote/ohlc": {
      "get": {
        "tags": ["Market Quote"],
        "summary": "Market quotes and instruments - OHLC quotes",
        "description": "This API provides the functionality to retrieve the OHLC quotes for one or more instruments.This API returns the OHLC snapshots of up to 1000 instruments in one go.",
        "operationId": "getMarketQuoteOHLC",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Comma separated list of symbols",
            "required": false,
            "deprecated": true,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          },
          {
            "name": "instrument_key",
            "in": "query",
            "description": "Comma separated list of instrument keys",
            "required": false,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Interval to get ohlc data",
            "required": true,
            "schema": { "pattern": "^(1d|I1|I30)$", "type": "string" },
            "example": "1d"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI1027 - interval is required<br>UDAPI1028 - Invalid interval<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketQuoteOHLCResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/market-quote/ohlc?symbol=NSE_EQ%7CINE848E01039&interval=1d' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/market-quote/ltp": {
      "get": {
        "tags": ["Market Quote"],
        "summary": "Market quotes and instruments - LTP quotes.",
        "description": "This API provides the functionality to retrieve the LTP quotes for one or more instruments.This API returns the LTPs of up to 1000 instruments in one go.",
        "operationId": "ltp",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Comma separated list of symbols",
            "required": false,
            "deprecated": true,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          },
          {
            "name": "instrument_key",
            "in": "query",
            "description": "Comma separated list of instrument keys",
            "required": false,
            "schema": { "type": "string" },
            "example": "NSE_EQ|INE848E01016,NSE_EQ|INE848E01039"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketQuoteLastTradedPriceResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/market-quote/ltp?symbol=NSE_EQ%7CINE848E01039' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/login/authorization/dialog": {
      "get": {
        "tags": ["Login"],
        "summary": "Authorize API",
        "description": "This provides details on the login endpoint.",
        "operationId": "authorize",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1018 - Redirect URI is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "302": { "description": "Successful Operation" }
        }
      }
    },
    "/v2/historical-candle/{instrumentKey}/{interval}/{to_date}": {
      "get": {
        "tags": ["History"],
        "summary": "Historical candle data",
        "description": "Get OHLC values for all instruments across various timeframes. Historical data can be fetched for the following durations.\n1minute: last 1 month candles till endDate\n30minute: last 1 year candles till endDate\nday: last 1 year candles till endDate\nweek: last 10 year candles till endDate\nmonth: last 10 year candles till endDate",
        "operationId": "getHistoricalCandleData",
        "parameters": [
          {
            "name": "instrumentKey",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(?:^NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+)*?$",
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(1minute|30minute|day|week|month)$",
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1015 - to_date must be greater than or equal to from_date and Date should be in valid format: yyyy-mm-dd<br>UDAPI1020 - Interval accepts one of (1minute,30minute,day,week,month)<br>UDAPI1021 - Instrument key is of invalid format<br>UDAPI1022 - to_date is required<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoricalCandleResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/historical-candle/NSE_EQ%7CINE848E01016/day/2022-10-01/2022-10-04' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' "
          }
        ]
      }
    },
    "/v2/historical-candle/{instrumentKey}/{interval}/{to_date}/{from_date}": {
      "get": {
        "tags": ["History"],
        "summary": "Historical candle data",
        "description": "Get OHLC values for all instruments across various timeframes. Historical data can be fetched for the following durations.\n1minute: last 1 month candles till endDate\n30minute: last 1 year candles till endDate\nday: last 1 year candles till endDate\nweek: last 10 year candles till endDate\nmonth: last 10 year candles till endDate",
        "operationId": "getHistoricalCandleData_1",
        "parameters": [
          {
            "name": "instrumentKey",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(?:^NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+)*?$",
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(1minute|30minute|day|week|month)$",
              "type": "string"
            }
          },
          {
            "name": "to_date",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "from_date",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1015 - to_date must be greater than or equal to from_date and Date should be in valid format: yyyy-mm-dd<br>UDAPI1020 - Interval accepts one of (1minute,30minute,day,week,month)<br>UDAPI1021 - Instrument key is of invalid format<br>UDAPI1022 - to_date is required<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoricalCandleResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/historical-candle/NSE_EQ%7CINE848E01016/day/2022-10-01/2022-10-04' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' "
          }
        ]
      }
    },
    "/v2/historical-candle/intraday/{instrumentKey}/{interval}": {
      "get": {
        "tags": ["History"],
        "summary": "Intra day candle data",
        "description": "Get OHLC values for all instruments for the present trading day",
        "operationId": "getIntraDayCandleData",
        "parameters": [
          {
            "name": "instrumentKey",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^(?:^NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM)\\|[\\w ]+)*?$",
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "path",
            "required": true,
            "schema": { "pattern": "^(1minute|30minute)$", "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "UDAPI1076 - Interval accepts one of (1minute,30minute)<br>UDAPI1021 - Instrument key is of invalid format<br>UDAPI100011 - Invalid Instrument key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntraDayCandleResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/historical-candle/intraday/NSE_EQ%7CINE848E01016/1minute' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' "
          }
        ]
      }
    },
    "/v2/feed/portfolio-stream-feed": {
      "get": {
        "tags": ["Websocket"],
        "summary": "Portfolio Stream Feed",
        "description": "This API redirects the client to the respective socket endpoint to receive Portfolio updates.",
        "operationId": "getPortfolioStreamFeed",
        "parameters": [
          {
            "name": "update_types",
            "in": "query",
            "description": "Identifiers separated by commas denote the types of updates to receive.",
            "required": false,
            "schema": {
              "pattern": "^(?:(order|position|holding)(?:(?!.*\\1).)*(,(order|position|holding)(?:(?!.*\\3).))*)?$",
              "type": "string"
            },
            "example": "order,position,holding"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "302": {
            "description": "Location for authorized access of portfolio stream feed"
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/feed/portfolio-stream-feed' \n -H 'accept: */*' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/feed/portfolio-stream-feed/authorize": {
      "get": {
        "tags": ["Websocket"],
        "summary": "Portfolio Stream Feed Authorize",
        "description": " This API provides the functionality to retrieve the socket endpoint URI for Portfolio updates.",
        "operationId": "getPortfolioStreamFeedAuthorize",
        "parameters": [
          {
            "name": "update_types",
            "in": "query",
            "description": "Identifiers separated by commas denote the types of updates to receive.",
            "required": false,
            "schema": {
              "pattern": "^(?:(order|position|holding)(?:(?!.*\\1).)*(,(order|position|holding)(?:(?!.*\\3).))*)?$",
              "type": "string"
            },
            "example": "order,position,holding"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketAuthRedirectResponse"
                }
              }
            }
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X 'GET' \n 'https://api.upstox.com/v2/feed/portfolio-stream-feed/authorize' \n -H 'accept: application/json' \n -H 'Api-Version: 2.0' \n -H 'Authorization: Bearer access_token'"
          }
        ]
      }
    },
    "/v2/feed/market-data-feed": {
      "get": {
        "tags": ["Websocket"],
        "summary": "Market Data Feed",
        "description": " This API redirects the client to the respective socket endpoint to receive Market updates.",
        "operationId": "getMarketDataFeed",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiGatewayErrorResponse"
                }
              }
            }
          },
          "302": {
            "description": "Location for authorized access of market data feed"
          }
        },
        "security": [{ "OAUTH2": [] }],
        "x-codeSamples": [
          {
            "lang": "curl",
[...]
